@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

.home-background {
  background: url("/home-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.thailand-background {
  background: url("/thailand.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
