@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

.home-background {
  background: url("/home-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.building-background {
  background: url("/building.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.pattern-background {
  background: url("/background-with-pattern.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
